# OpenAI API
OPENAI_API_KEY=your_openai_api_key_here

# Amazon SP API
AWS_ACCESS_KEY=your_aws_access_key_here
AWS_SECRET_KEY=your_aws_secret_key_here
AMAZON_CLIENT_ID=your_amazon_client_id_here
AMAZON_CLIENT_SECRET=your_amazon_client_secret_here
AMAZON_ACCESS_TOKEN=your_amazon_access_token_here

# Rainforest API
RAINFOREST_API_KEY=your_rainforest_api_key_here 